 <section class="blog-list mtb-40">
  <div class="container">
    <h1>Courses</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/angular.png" alt="blog1" />
          <h3>Angular 7 Full Course</h3>
          <p>Angular is a platform for building mobile and desktop web applications. Join the community of millions of developers who build compelling user interfaces .</p>
          <a href="https://angular.io/" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/Python.jpg" alt="blog1" />
          <h3>Python Full Course</h3>
          <p>Python is one of the high-level general programming languages, interpreted, easy to use,complete and powerful. It is an object..</p>
          <a href="https://www.python.org/" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/java.png" alt="blog1" />
          <h3>Java Course</h3>
          <p>Our core Java programming tutorial is designed for students and working professionals. Java is an object-oriented, class-based, concurrent, secured and general-purpose computer-programming language.</p>
          <a href="https://www.javatpoint.com/java-tutorial" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/entity-framework-training.jpg" alt="blog1" />
          <h3>Entity Framework Course</h3>
          <p>Entity Framework is an Object/Relational Mapping (O/RM) framework. It is an enhancement to ADO.NET that gives developers an automated mechanism for accessing & storing the data in the database.</p>
          <a href="https://docs.microsoft.com/en-us/ef/core/" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/download.png" alt="blog1" />
          <h3>React Course</h3>
          <p>React is a free and open-source front-end JavaScript library for building user interfaces or UI components. It is maintained by Facebook and a community of individual developers and companies.</p>
          <a href="https://reactjs.org/tutorial/tutorial.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/download (1).png" alt="blog1" />
          <h3>Html Course</h3>
          <p>HTML is the standard markup language for creating websites and CSS is the language that describes the style of an HTML document.</p>
          <a href="https://html.com/" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
