
<br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/angularmaterial.png" alt="post1" />
          <h3>Angular Material course</h3>
          <p>Angular Material provides a set of reusable, well-tested and accessible UI components based on Google's Material Design specification.</p>
          <a href="https://material.angular.io/" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/css.jpg" alt="post3" />
          <h3>CSS Course</h3>
          <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.</p>
          <a href="https://www.w3schools.com/css/" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/Images/typescriptfeature.png" alt="post4" />
          <h3>TypeScript Course</h3>
           <p>JavaScript and More ... TypeScript is an open-source language which builds on JavaScript, one of the world's most used tools, by adding static type definitions.</p>
          <a href="https://www.typescriptlang.org/" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
